
# Analyze "Russia Housing Prices" and predicting them

The goal with the given dataset is to use the data to make a prediction-model after doing an EDA. To achieve this I first come up with some questions I want to answer. Furthermore, I will be using a CRISP-DM like process to get from the EDA to the prediction-model.

## 1. Business Understanding

This phase is used to generate the hypothesis I want to answer. These are the following:
1. Are prices around the capital generally higher than in different regions
2. tODO
3. TODO

Other than answering these questions, the goal is also to predict the prices with a fitting ML-Algorithm.


## 2. Data Understanding
 For the data understanding the best thing is to use the description of the kaggle-side where the data is from (https://www.kaggle.com/datasets/mrdaniilak/russia-real-estate-20182021). This saves quite some time.

The dataset has 13 fields. Each row contains data about an ad for real estate in russia.

- **date**: date of publication of the announcement.
- **time**: the time when the ad was published.
- **geo_lat**: Latitude.
- **geo_lon**: Longitude.
- **region**: Region of Russia. There are 85 subjects in the country in total.
- **building_type**: Facade type. 0 - Other. 1 - Panel. 2 - Monolithic. 3 - Brick. 4 - Blocky. 5 - Wooden.
- **object_type**: Apartment type. 1 - Secondary real estate market; 2 - New building;.
- **level**: Apartment floor.
- **levels**: Number of storeys.
- **rooms**: the number of living rooms. If the value is "-1", then it means "studio apartment".
- **area**: the total area of the apartment in m².
- **kitchen_area**: - Kitchen area in m².
- **price**: Price in rubles.

In [58]:
import dateutil.utils
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

import warnings
warnings.filterwarnings('ignore')

In [59]:
df = pd.read_csv('all_v2.csv')
df.date = pd.to_datetime(df.date)
df.date = df.date.dt.date
temp = pd.to_datetime(df.time, format='%H:%M:%S').apply(lambda d : d.time())
df.time = temp

In [60]:
df

,price,date,time,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
0,6050000,2018-02-19,20:00:21,59.805808,30.376141,2661,1,8,10,3,82.6,10.8,1
1,8650000,2018-02-27,12:04:54,55.683807,37.297405,81,3,5,24,2,69.1,12.0,1
2,4000000,2018-02-28,15:44:00,56.295250,44.061637,2871,1,5,9,3,66.0,10.0,1
3,1850000,2018-03-01,11:24:52,44.996132,39.074783,2843,4,12,16,2,38.0,5.0,11
4,5450000,2018-03-01,17:42:43,55.918767,37.984642,81,3,13,14,2,60.0,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5477001,19739760,2021-05-01,20:13:58,55.804736,37.750898,3,1,8,17,4,93.2,13.8,11
5477002,12503160,2021-05-01,20:14:01,55.841415,37.489624,3,2,17,32,2,45.9,6.6,11
5477003,8800000,2021-05-01,20:14:04,56.283909,44.075408,2871,2,4,17,3,86.5,11.8,1
5477004,11831910,2021-05-01,20:14:12,55.804736,37.750898,3,1,8,33,2,52.1,18.9,11
5477005,13316200,2021-05-01,20:14:15,55.860240,37.540356,3,2,10,23,2,55.6,20.8,11

In [61]:
df.describe(datetime_is_numeric=True)

,price,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
count,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06
mean,4.422029e+06,5.403826e+01,5.324433e+01,4.307141e+03,1.948966e+00,6.214530e+00,1.139892e+01,1.726173e+00,5.391825e+01,1.062840e+01,3.945399e+00
std,2.150752e+07,4.622758e+00,2.074763e+01,3.308050e+03,1.038537e+00,4.957419e+00,6.535734e+00,1.082133e+00,3.335293e+01,9.792380e+00,4.558357e+00
min,-2.144967e+09,4.145906e+01,1.989020e+01,3.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-2.000000e+00,7.000000e-02,1.000000e-02,1.000000e+00
25%,1.950000e+06,5.337768e+01,3.777790e+01,2.661000e+03,1.000000e+00,2.000000e+00,5.000000e+00,1.000000e+00,3.800000e+01,7.000000e+00,1.000000e+00
50%,2.990000e+06,5.517139e+01,4.306774e+01,2.922000e+03,2.000000e+00,5.000000e+00,1.000000e+01,2.000000e+00,4.802000e+01,9.700000e+00,1.000000e+00
75%,4.802000e+06,5.622613e+01,6.564895e+01,6.171000e+03,3.000000e+00,9.000000e+00,1.600000e+01,2.000000e+00,6.313000e+01,1.270000e+01,1.100000e+01
max,2.147484e+09,7.198040e+01,1.625361e+02,6.188800e+04,5.000000e+00,3.900000e+01,3.900000e+01,1.000000e+01,7.856000e+03,9.999000e+03,1.100000e+01

In [62]:
df.object_type.value_counts()

1     3863809
11    1613197
Name: object_type, dtype: int64

In [63]:
df.isnull().sum()

price            0
date             0
time             0
geo_lat          0
geo_lon          0
region           0
building_type    0
level            0
levels           0
rooms            0
area             0
kitchen_area     0
object_type      0
dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5477006 entries, 0 to 5477005
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   price          int64
 1   date           object
 2   time           object
 3   geo_lat        float64
 4   geo_lon        float64
 5   region         int64
 6   building_type  int64
 7   level          int64
 8   levels         int64
 9   rooms          int64
 10  area           float64
 11  kitchen_area   float64
 12  object_type    int64
dtypes: float64(4), int64(7), object(2)
memory usage: 543.2+ MB

With the code blocks above, we can measure the data quality:
- **Correctness**: The data is not entirely correct since we got e.g. prices that are negative and object_type seems not to be quite correct since they do not match with the given description. These can be fixed in the data preparation phase.
- **Completeness**: The data seems to be complete.
- **Redundancy**: For now I cannot spot any redundancies.

## 3. Data Preparation

After spotting some flaws in the data understanding phase, we tackle those in the upcoming phase. The first thing to be done is deleting the negative prices and rooms. From the data description we can also see that the columns `object_type` and `building_type` are "encoded". For further analysis it makes sense to replace the numbers with their string representations.

In [65]:
df = df[df.price>0]

In [66]:
df= df[df.rooms>0]

In [67]:
df['building_type']= df['building_type'].replace([0,1,2,3,4,5],['Other','Panel','Monolithic','Brick','Blocky','Wooden'])

In [68]:
df['object_type']= df['object_type'].replace([1,11],['Secondary Real Estate Market','New Building'])

The other problem we have is that the price is represented in russian rubel, which is obvious since we got a dataset about russian housing prices. For me, it still makes much more sense to analyze the data in euro. Because we have a date for each entry which ranges from spring 2018 to early summer 2021, we need different exchange rates from those years. I acquired them from the website of the European Central Bank (https://sdw.ecb.europa.eu/quickview.do?SERIES_KEY=120.EXR.D.RUB.EUR.SP00.A).

In [69]:
df_exchange = pd.read_csv('amCharts.csv', sep= ';')
df_exchange = df_exchange.rename(columns={'s1':'rate'})
df_exchange.date = pd.to_datetime(df_exchange.date)
df_exchange.date = df_exchange.date.dt.date

Next up we have to convert the rate to an actual rate, because now it just represents the value of 1 euro in rubel.

In [70]:
df_exchange.rate = 1/df_exchange.rate

Now we map the exchange rate to the housing price df. After that the price gets transformed to euro, and we drop the rate column again.

In [71]:
df = df.merge(df_exchange, left_on='date', right_on='date')
df.price = df.price * df.rate
df.price = df.price.round(2)
df = df.drop(["rate"], axis=1)
df.price.max()

29093406.87

The next step is to calculate the price per square metre. That way we can compare different properties which differ in size.

In [72]:
df["price_per_square_metre"] = (df["price"]/df["area"]).round(2)
df

,price,date,time,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type,price_per_square_metre
0,86341.12,2018-02-19,20:00:21,59.805808,30.376141,2661,Panel,8,10,3,82.6,10.8,Secondary Real Estate Market,1045.29
1,125731.31,2018-02-27,12:04:54,55.683807,37.297405,81,Brick,5,24,2,69.1,12.0,Secondary Real Estate Market,1819.56
2,58178.43,2018-02-28,15:44:00,56.295250,44.061637,2871,Panel,5,9,3,66.0,10.0,Secondary Real Estate Market,881.49
3,26742.30,2018-03-01,11:24:52,44.996132,39.074783,2843,Blocky,12,16,2,38.0,5.0,New Building,703.74
4,78781.36,2018-03-01,17:42:43,55.918767,37.984642,81,Brick,13,14,2,60.0,10.0,Secondary Real Estate Market,1313.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082498,49608.21,2021-04-30,23:56:39,59.880305,30.472474,2661,Panel,1,5,1,31.0,7.4,Secondary Real Estate Market,1600.26
4082499,115752.48,2021-04-30,23:56:41,57.567523,39.921776,2604,Brick,7,8,3,119.0,18.0,New Building,972.71
4082500,34174.54,2021-04-30,23:57:33,54.963499,48.265301,2922,Brick,1,4,4,99.0,9.0,Secondary Real Estate Market,345.20
4082501,48505.80,2021-04-30,23:58:33,50.256918,127.554152,7929,Panel,5,5,2,46.0,8.0,Secondary Real Estate Market,1054.47
4082502,289932.40,2021-04-30,23:58:34,60.012239,30.311457,2661,Monolithic,2,10,2,71.0,27.1,Secondary Real Estate Market,4083.55

For some easier comparison, I decided to add a value that just represents the latitude and longitude. This can be then used as a somewhat key for properties that are listed, although we have to keep in mind that some properties have more than one apartment/unit.

In [73]:
df['point'] = df[['geo_lat','geo_lon']].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)

In [74]:
df.price.max()

29093406.87

In [75]:
df.describe()

,price,geo_lat,geo_lon,region,level,levels,rooms,area,kitchen_area,price_per_square_metre
count,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06,4.082503e+06
mean,5.839654e+04,5.401953e+01,5.291084e+01,4.244222e+03,6.205361e+00,1.132971e+01,1.887192e+00,5.504911e+01,1.090842e+01,1.023316e+03
std,1.776038e+05,4.643517e+00,2.056953e+01,3.242760e+03,4.935791e+00,6.539783e+00,8.794488e-01,3.328981e+01,1.062829e+01,4.821175e+03
min,1.000000e-02,4.145906e+01,1.990309e+01,3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e-02,1.000000e-02,0.000000e+00
25%,2.597995e+04,5.334998e+01,3.778513e+01,2.661000e+03,2.000000e+00,5.000000e+00,1.000000e+00,3.920000e+01,7.300000e+00,5.603500e+02
50%,3.895195e+04,5.518702e+01,4.299740e+01,2.922000e+03,5.000000e+00,1.000000e+01,2.000000e+00,4.900000e+01,1.000000e+01,7.817600e+02
75%,6.275826e+04,5.627372e+01,6.556124e+01,6.171000e+03,9.000000e+00,1.600000e+01,2.000000e+00,6.400000e+01,1.292000e+01,1.151160e+03
max,2.909341e+07,7.198040e+01,1.625361e+02,6.188800e+04,3.900000e+01,3.900000e+01,1.000000e+01,7.856000e+03,9.999000e+03,6.875848e+06

Next up, we have still some implausible values in the price. The min value of the price says it is 0.01, which cannot me quite true.

In [76]:
round((len(df[df.price<df.price.mean()*0.1])/len(df))*100, 2)

0.26

In [77]:
df.isna().sum()

price                     0
date                      0
time                      0
geo_lat                   0
geo_lon                   0
region                    0
building_type             0
level                     0
levels                    0
rooms                     0
area                      0
kitchen_area              0
object_type               0
price_per_square_metre    0
point                     0
dtype: int64

In [78]:
df = df[df.price>df.price.mean()*0.1]

 To deal with outliers, I decided to look at the amount of entries that have a price that is only 10% of the overall mean. Since these values only represent 0.26% of the overall entries, I made the decision to drop them. The next outliers we have are the maximum prices, which are way over 75% of the prices. This seems to be plausible since there are always more expensive homes. We should look at how much are over half million euros and thus be categorized as expensive estate

In [79]:
df.to_csv("cleaned_housing_price.csv")

In [80]:
round((len(df[(df.price>75000) & (df.price<500000)])/len(df))*100, 2)

18.37

0.29% isn't really much, and we drop them out of the df. Instead of deleting them completely, I put them in a separated df for further analysis.

In [81]:
df_expensive = df[df.price>500000]

In [82]:
df = df[df.price<500000]

In [83]:
len(df[df.price>65000])

948672

This should finish up the data preparation phase.

## 4. Exploratory Data Analysis (EDA)
Next we're going to get better insight in the data by doing an EDA. First we start by answering basic questions like what building type is the most expensive, which areas are more expensive, are there different square metre prices between regions, years, seasons, etc. Next we try to answer the hypothesis we put up in the business understanding phase.

Let's start with getting a description of the price  grouped by the `building_type`.

In [84]:
df.groupby(['building_type'])['price'].describe().sort_values('mean', ascending=False)

,count,mean,std,min,25%,50%,75%,max
building_type,,,,,,,,
Monolithic,817430.0,81169.616412,66205.707591,5892.43,40162.630,60163.00,96927.595,499956.40
Other,235039.0,60891.979687,48028.060484,5859.37,34040.580,48004.01,70687.000,499966.22
Brick,1438536.0,49267.366377,44868.616613,5839.89,24809.660,36657.71,56308.950,499964.28
Blocky,131363.0,44657.787928,32247.704030,5864.24,25260.885,35652.87,52457.860,498440.59
Panel,1421672.0,42139.319493,31986.373719,5839.89,22912.390,32238.31,48569.180,499773.86
Wooden,11246.0,26308.108265,31181.835727,5852.33,11035.300,16842.32,28180.950,498830.44

If we just look at the mean, we can say that buildings with the type Monolith are the most expensive ones, followed by Other and Brick. One could argue that we need to deal with some outliers. As we can see the min values seem to be incorrect. For we should look at the price again.